DATALAYER_ENGINE=strapi

#### STRAPI CMS ENV VARS ###
STRAPI_API_KEY=[CHANGE]

# LOCALHOST ONLY VALUES #
STRAPI_ASSETS_BASE_URL=http://127.0.0.1:1337
STRAPI_API_BASE_URL=http://127.0.0.1:1337/api
STRAPI_IMAGES_DOMAIN=127.0.0.1


